/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px red solid; */
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  background: #ceeafc;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}



/* Style the navigation menu */
.topnav {
    margin: 5px auto;
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #111;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    background: rgb(252, 182, 60);
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 600;
    display: block;
    background: rgb(80, 199, 245);
    color: #222222;
  }

.covid-image {
    background-image: url('./images/covidst.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50px;
}

button {
  cursor: pointer;
}

a {
    color: #396684;
}

/* Container */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */

.container h1, h2 {
    margin: 10px auto;
    text-align: center;
}

.container h1 {
    font-size: 26px;
}

.head-row {
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px #bbb solid;
    background: #fff;
    color: #333;
    border-radius: 5px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.dropdown {
    border-radius: 5px;
    background: #333;
    color: #eee;
    font-size: 16px;
    font-weight: 300;
    margin-right: 3rem;
    width: 50%;
}


.summary {
    width: 25%;
    text-align: center;
    /* background-color: rgb(244, 242, 242); */
}

#total-cases-label, #new-cases-label {
    font-size: 12px;
    color: #999;
}

#total-cases {
    font-size: 22px;
    color: rgb(80, 199, 245);
    /* width: 50%; */
}

#new-cases {
    color: rgb(252, 182, 60);
    font-size: 22px;
    /* width: 50%; */
}

/* Data List */


#data-area {
    background: #fff;
}


.list-item {
    color: #333;
    border: 1px solid #dedfe0;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    display: flex;
}


.list-item:hover {
    background: #eeeeee;
}

.sl-no {
    width: 25px;
    display: inline-block;
    text-align: right;
    color: #999;
}

.dist, .count, .new {
    display: inline-flex;
}

.dist {
    width: 50%;
    /* font-weight: 200; */
}

.count {
    width: 15%;
    display:inline-block;
    text-align: right;
    text-emphasis: strong;
    /* border: 1px solid black; */
}

.new {
    color: red;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    width: 10%;
    text-align: right;
}

.bottom-row {
    margin: 10px 0;
    padding: 15px 20px;
    width: 100%;
    display: inline-flex;
    border: 1px grey solid;
    background: #444;
    color: #888;
    border-radius: 5px;
    height: 60px;
    text-align: center;
    justify-content: center;
    font-size: 12px;
}

.list-item__title {
    font-size: 1.8rem;
    margin-bottom: .4rem
}

a {
    text-decoration: none;
    color: #eee;
}


#summary-block {
    background: #333;
    border-radius: 5px;
    color: #ccc;
    padding-bottom: 10px ;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#india-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.india-summary-cases, .india-summary-new {
    font-size: 12px;
    border: 1px white;
    background-color: #393939;
    padding: 10px;
    width:30%;
}

.india-summary-label {
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid #666;
    letter-spacing: 5px;
}

#india-cases, #india-new {
    font-size: 28px;
}

#india-cases {
    color: rgb(80, 199, 245);
}

#india-new
{
    color: rgb(252, 182, 60);
}

.container-footer {
    font-size: 1.2rem;
    padding-top: 3rem;
    text-align: center;
    background: #222;
    color: #999;
    padding: 10px;
    line-height: 20px;
}

@media (max-width: 350px) {
    #india-summary {
        display: flex;
        /* flex-direction: column; */
        font-size: 10px;
    }

    .india-summary-cases, .india-summary-new {
        font-size: 10px;
    }

    #total-cases, #new-cases {
        font-size: 18px;
    }

    #india-cases, #india-new {
        font-size: 20px;
    }
}
