/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px red solid; */
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  background: #ceeafc;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  /* background-image: url('./images/covidst.png');
  background-size: contain;
  background-position: center; */
}

.covid-image {
    background-image: url('./images/covidst.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
}

button {
  cursor: pointer;
}

a {
    color: #396684;
}

/* Container */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */

.container h1, h2 {
    margin: 10px auto;
    text-align: center;
}

.container h1 {
    font-size: 26px;
}

/* header { */
    /* background: #43799c; */
    /* color: white; */
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; */
  /* } */

  /* header h1 { */
    /* background: #2783c1; */
  /* } */

.head-row {
    margin: 10px 0;
    padding: 10px 2px 10px 20px;
    width: 100%;
    display: flex;
    border: 1px #bbb solid;
    background: #fff;
    color: #333;
    border-radius: 5px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#state-name {
    font-size: 26px;
    font-weight: 300;
    width: 70%;
    /* display: inline-block; */
}

.summary {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#total-cases-label, #new-cases-label {
    font-size: 12px;
    color: #999;
}

#total-cases {
    font-size: 22px;
    color: rgb(80, 199, 245);
    width: 50%;
}

#new-cases {
    color: rgb(252, 182, 60);
    font-size: 22px;
    width: 50%;
}


.header__title {
  font-size: 3.2rem;
  margin: 1.5rem 0;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

/* Actions Bar */

.actions {
    background-color: #F7F7F7;
    border-bottom: 1px solid #dedfe0;
    padding: .8rem
}

.actions__container {
    align-items: center;
    display: flex;
    width: 100%;
    /* max-width: 60rem; */
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.actions__container--spaced {
    justify-content: space-between
}

/* User Input */

.dropdown {
    border-radius: 5px;
    /* border: 3px solid rgb(255, 255, 255); */
    /* background:#eee; */
    /* color: #222; */
    background: #333;
    color: #eee;
    font-size: 16px;
    font-weight: 300;
    /* height: 3rem; */
    margin-right: 3rem;
    /* margin-top: 1rem; */
    width: 50%;
}


/* Data List */


#data-area {
    background: #fff;
}

/* .list-head {
    text-decoration: none;
    color: #333333;
    font-size: 1.6rem;
    background: #F7F7F7;
    border: 1px solid #dedfe0;
    margin: 1.6rem 0;
    padding: 1.6rem;
    display: block;
    transition: background .3s ease;
    line-height: 3rem;
} */

.list-item {
    color: #333;
    border: 1px solid #dedfe0;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8rem;
    padding: 1rem 1rem;
    border-radius: 5px;
}


.list-item:hover {
    background: #eeeeee;
}

.dist, .count, .new {
    /* min-width: 200px; */
    display: inline-flex;
    /* color: #666; */
    /* font-size: 1.6rem; */
    /* font-weight: 300; */
    /* margin: 0 1rem; */

}

.dist {
    width: 55%;
}

.count {
    width: 20%;
    display:inline-block;
    text-align: right;
    text-emphasis: strong;
    /* border: 1px solid black; */
}

.new {
    color: red;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    width: 10%;
    /* border: 1px solid black; */

}

.sl-no {
    width: 18px;
    display: inline-block;
    text-align: right;
}

.total-item {
    font-size: 2rem;
    padding: 2rem;
}

.bottom-row {
    margin: 10px 0;
    padding: 15px 20px;
    width: 100%;
    display: inline-flex;
    border: 1px grey solid;
    background: #444;
    color: #888;
    border-radius: 5px;
    height: 60px;
    text-align: center;
    justify-content: center;
    font-size: 12px;
}

.list-item__title {
    font-size: 1.8rem;
    margin-bottom: .4rem
}

a {
    text-decoration: none;
    color: #eee;
}


#summary-block {
    background: #333;
    border-radius: 5px;
    color: #ccc;
    padding-bottom: 10px ;
    /* margin: 10px auto; */
    /* display:flex; */
    /* flex-direction: row; */
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#india-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.india-summary-cases, .india-summary-new {
    font-size: 12px;
    border: 1px white
}

.india-summary-label {
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid #666;
    letter-spacing: 5px;
}

#india-cases, #india-new {
    font-size: 28px;
}

#india-cases {
    color: rgb(80, 199, 245);
}

#india-new
{
    color: rgb(252, 182, 60);
}

.container-footer {
    font-size: 1.2rem;
    padding-top: 3rem;
    text-align: center;
    background: #222;
    color: #999;
    padding: 10px;
    line-height: 20px;
}

/* @media (max-width: 600px) {
    #india-summary {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
}
 */