* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px red solid; */
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  background: #ceeafc;
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-image: url('./images/v-bgnd-tile.png');
  background-repeat: repeat;
  background-attachment: fixed;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

a {
  text-decoration: none;
  color: #eee;
}

/* HEADER AREA ===============================*/

.title-bar {
  margin-bottom: 3px;
  /* text-align: center; */
  /* background-color: rgb(213, 168, 108); */
  background-color: #222;
  color: #eee;
  /* background-color: rgb(80, 199, 245); */
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  /* outline: 1px solid #555; */
  /* flex: 1; */
  width: 50px;
  font-size: 22px;
  text-align: center;
}

.title-bar  h1 {
  font-size: 18px;
  flex: 1;
}

#menu-button {
  font-size: 22px;
  text-align: center;
  width: 50px;
  cursor: pointer;
}

#sliding-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 80vh;
  width: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.85);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;
  margin-bottom: 10px;
  transform-origin: top;
  color: #999;
  border-radius: 0px 0px 10px 10px;
  /* padding-right: 20px; */
  /* display: none; */
  /* display: block; */
}

#sliding-menu > ul {
  padding: 20px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

ul, li {
  list-style: none;
}


/* SUMMARY BLOCK ==============================*/

.sticky-wrapper {
  position: sticky;
  top: 2px;
  font-size: 16px;
  background-color: #ceeafc;
}

.nav-bar {
  display: flex;
  justify-content: space-between;

  display: grid;
  grid-template-columns: 50px 1fr 30px 30px;
  grid-template-rows: 40px;
  column-gap: 5px;
  margin: 0 10px;
  /* padding: 5px 5px; */
  border-radius: 5px;
  text-align: right;
  /* background-color: #444; */
  /* border: 1px solid #444; */
}

#home-button {
  border: 2px solid #999;
  background-color: #444;
  display: inline-flex;
  border-radius: 5px;
  width: 45px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#fwd-button, #back-button {
  border: 1px solid #999;
  background-color: #444;
  display: inline-flex;
  border-radius: 5px;
  width: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



#home-button::before {
  content: 'IND';
}

#home-button:hover, #fwd-button:hover, #back-button:hover {
  border: 1px solid #999;
  transform: scale(80%);
}

#state-name {
  background-color: #444;
  display: inline-flex;
  border-radius: 5px;
  /* justify-content: center; */
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

#summary-block {
  text-align: center;
  background-color: #333;
  color: #dddddd;
  padding: 10px 0;
  border-radius: 5px;
}

.summary-block-title {
  background-color: #3a3a3a;
  margin: 0 10px 0 10px;
  padding: 5px 0;
  border-radius: 5px;
}

.summary-block-data-container {
  display: flex;
  /* flex-basis: 20%; */
  justify-content: space-around;

}

.summary-block-data {
  /* flex: 1; */
  margin: 15px 0;
  /* background: #444; */
  /* border: 1px solid #444; */
  border-radius: 5px;
  flex-basis: 20%;
  color: #aaa;
  animation: fade 1.5s forwards;
  padding: 0 0 5px 0;
}

.summary-block-label {
  font-size: 12px;
  padding: 5px 0;
  border-bottom: 1px solid #555;
}

.summary-block-number {
  font-size: 20px;
  font-weight: 800;
  padding: 10px 0 5px 0;
}

#summary-block-confirmed, #summary-block-delta-confirmed {
  color:rgb(80, 199, 245);
}

#summary-block-active, #summary-block-delta-active {
  color: rgb(145, 101, 232);
}

#summary-block-today, #summary-block-delta-today {
  color: rgb(252, 182, 60);
}

#summary-block-recovered, #summary-block-delta-recovered {
  color: rgb(98, 211, 54);
}

#summary-block-fatality, #summary-block-delta-fatality {
  color: rgb(233, 91, 75);
}

.summary-block-delta-number {
  font-size: 16px;
  font-weight: 300;
  padding: 0;
}

#update-time{
  color: #888;
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
}

.time-highlight {
  color:#aaa;
  font-style: italic
}


/* DROP-DOWN BLOCK ==============================*/


.table-header-label-row {
  display: flex;
  background-color: #eee;
  padding: 1px 0;
  font-size: 14px;
  font-weight: 800;
  border: 2px solid #fff;
  margin-top: 3px;
  margin-bottom: 8px;
  text-decoration: underline;
  text-underline-offset: 2px;
  box-shadow: 0px 10px 15px rgb(222, 222, 222, 0.95);
  cursor: pointer;
}

.table-header-label1 {
  flex-basis: 52%;
  padding: 5px;
  /* margin-left: 5px; */
}

.table-header-label2, .table-header-label3 {
  width: 24%;
  padding: 5px;
  text-align: center;
}

/* DATA TABLE ==============================*/

#data-table {
  width: 100%;
  background-color: rgb(250, 250, 250);
  border-collapse: collapse;
  /* outline: 1px solid grey; */
  margin: 5px 0;
  padding: 5px 0;
  cursor: pointer;
}

/* 
.table-header-row {
  height: 30px;
  font-size: 14px;
  margin: 20px;
  padding: 10px;
  background-color: rgb(213, 168, 108);
  background-color: #ceeafc;
  text-decoration: underline;
  text-underline-offset: 2px;
} 

.table-header-col1 {
  width: 50%;
  text-align: left;
  padding-left: 10px;
}
*/

.td-sl-no {
  text-align: right;
  color:#888;
  width: 5%;
  padding-right: 5px;
  font-weight: 200;
}

.td-name {
  color: #555;
  width: 46%;
}

.td-confirmed, .td-new {
  text-align: center;
  width: 25%;
  color: #555;
  /* color: rgb(80, 199, 245); */
  /* color: rgb(66, 188, 237); */
}

.t-row {
  height: 35px;
  border-bottom: 1px solid #ceeafc;
  border-radius: 5px;
}


.td-new {
  /* color: rgb(252, 182, 60); */
  /* color: rgb(232, 174, 75); */
  color:rgb(80, 199, 245);
  font-size: 90%;
}

.t-row:hover {
  background-color: #fff;
}

/* INFO AREA ==============================*/

.info {
  height: 100px;
}

.spacer {
  height: 25px;
}


/* FOOTER ==============================*/

.container-footer {
  font-size: 1.2rem;
  padding-top: 3rem;
  text-align: center;
  background: #222;
  color: #999;
  padding: 10px;
  /* line-height: 20px; */
}

img {
  padding: 5px 0;
  width: 30px;
  /* animation: fade 1s forwards; */
}

.error {
  text-align: center;
  color: red;
  font-size: 14px;
  padding: 5px 0 10px 0;

}

.note {
  text-align: center;
  font-size: 14px;
  color: #333;
  padding: 15px;
  background-color: #999;
  margin: 20px 0;
  border-radius: 5px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}